name: Check version, docs etc.

on:
  push:
    paths:
    - version.go
    - CHANGELOG.md
    - README.md
    - 'cmd/snaggle/*.go'
    - .github/workflows/checks.yml
  pull_request:

jobs:
  changelog:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - name: Check changelog entry for current version
        run: .pre-commit/check_changelog.sh
  help_text:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-go@v6
        with:
          go-version: stable
      - name: Install dependencies
        run: go mod download
      - name: Check CLI DocComment & Readme match --help
        run: go generate ./...
